body{
    background-image: url("../img/fondo1.jpg");
}

fieldset {
    margin-bottom: 5px;
    border: none;
}

.backgroundCol{
    background-color: #C1C2C2;
    text-align: center;
    position:bottom;
}
.box {
    background-image: url("../img/cinema.jpg");
    background-repeat: repeat;
    background-size: contain;
  }
.showMovies{
         margin: 0px 0px 0px 0px;
         margin-top: 24px;
         margin-bottom: 24px;
         margin-left: 0;
         margin-right: 0;
         padding-bottom: 5px;
}
.nav-log{
    margin-bottom: 50px;
    box-sizing: content-box;
    display: block;
}
.nav-nav{
    display: inline-table;
    box-sizing: content-box;
}
.nav-log-button{
    padding: 4px 10px 4px 10px;
    color: #FFF;
    background-color: #4bc970;
    border-color: #4bc970; 
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    float: right;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    width: 100%;
    border-color: #4bc970;
    padding-top:5px;
    padding-left: 5px;
    padding-bottom:5px;
    padding-right:5px;
}

.nav-log-button:hover{
    background-color:coral;
}

.nav-log-input{
    padding:  4px 10px 4px 10px;
    color:inherit;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #FFF;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    float: right;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}

.form-nav-log{
    display: inline-block;
    box-sizing: content-box;
    position: none;
    margin-right: 50px;
    }

.form-nav-log-ul-li{
    list-style-type: none;
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    box-sizing: content-box;

}
.form-nav-log-ul{
    display: inline;
    list-style-type: none;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
    
}

.form-register-title{
    font-size: 50px;
    text-align: center;
    font-style: normal;
    height: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    display: block;
}
.register{
    display: block;
    box-sizing: content-box;
}
.form-register{
    box-sizing:border-box;
    background-image: none;
    display: block;
    margin-top: 100px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 10 px 10px 10px 10px;
    float: center;
    width: 50%;
}

.form-register-li{
        box-sizing: content-box;
        list-style-type: none;
        display: block;
        z-index: auto;
        position: center;
        float:center;
        width: 100%;
        padding: 0; 
        display: contents; 
       
}

.form-register-ul{
    box-sizing: content-box;
    width: 250;
    display: block;
    padding: 20px 20px 20px 20px;
    float: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: auto;
    position: center;
    }

.form-register-input{
    padding:  4px 10px 4px 10px;
    color: #000000 ;
    background-color:#FFF;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #FFF;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    float: center;
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    width: 100%;
    display: block;
    float: center;


}

.form-register-buttons{
    padding: 4px 10px 4px 10px;
    color: #FFF;
    background-color: #4bc970;
    border-color:#4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    float: center;
    padding-top:5px;
    padding-left: 5px;
    padding-bottom:5px;
    padding-right:5px;
    margin-left:2px;
    display: center;
    width: 50%;
    box-shadow:  #4bc970;
}
.form-register-buttons:hover{
        
    background-color: coral;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
 

.email,.password{
    margin-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius:5px;
    text-align: center;
}

.titleMovie{
    font-size: 50px;
    text-align: center;
}

.bgColor{
    background-color: #d9dfc1;

}

.border{
    border: 1px solid #000000;
}