body{
    background-image: url("../img/fondo1.jpg");
}

fieldset {
    margin-bottom: 5px;
    border: none;
}

.backgroundCol{
    background-color: #C1C2C2;
    text-align: center;
    position:bottom;
}

form {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 10px;
    background: #f4f7f8;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 200px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 49.5%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

.intento {

    color: #FFF;
    background-image: url("../img/fondo2.jpg");
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 49.5%;
    border: 1px solid #111111;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    position: relative;
    left: 25%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.email,.password{
    margin-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius:5px;
    text-align: center;
}

.tituloMovie{
    font-size: 50px;
    text-align: center;
}
